.menu-lateral{
    position: fixed;
    left: 10px;
    top: 200px;
}

.menu-lateral a{
    display: block;
    margin: 10px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
body {
    font-family: Arial;
    margin: 0;
}

header {
    background: red;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 15px;
}

img {
    width: 300px;
}

iframe {
    width: 300px;
    height: 200px;
}