<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
	<link rel="stylesheet" href="css/style.css">

<nav>
    <a href="../index.html">Inicio</a>
    <a href="../view/servicio.html">servico</a>
    <a href="#">Contacto</a>
</nav>

<h2>Formulario de Contacto</h2>

<form>
    <input type="number" placeholder="Cédula"><br>
    <input type="text" placeholder="Nombres"><br>
    <input type="text" placeholder="Apellidos"><br>
    <input type="email" placeholder="Email"><br>
    <input type="text" placeholder="Usuario"><br>
    <input type="password" placeholder="Password"><br>
    <button>Enviar</button>
</form>